.container{
	width: 800px;
	height: 1200px;
	float: center;
}

#top{
	width: 800px;
	height: 100px;
	float: left;
	background-color: green;
	margin-bottom: 10px;
}

#bar{
	width: 800px;
	height: 30px;
	float: left;
	background-color: green;
	margin-bottom: 10px;
}

#col1{
	width: 260px;
	height: 740px;
	float: left;
	margin-right: 10px;
	background-color: green;
}

#col2{
	width: 260px;
	height: 740px;
	float: left;
	background-color: green;
}

#bottom{
	width: 800px;
	height: 100px;
	float: left;
	background-color: green;
	margin-top: 10px;
}

