body {
	background-color: #B3FFDD;
	font-family: helvetica;
	font-size: 11px;
	
	}

p {
	line-height: 1.7em;
	text-align: justify;
}

h1 {
	font-family: georgia, serif;
	text-decoration: underline;
	color: #28666E;
	font-size: 34px;
	text-align: center;
	}

h4 {
	font-family: georgia, serif;
	color: #28666E;
	font-size: 24px;
	line-height: .4em;
	}

h5 {
	font-family: georgia, serif;
	}

ul {
	text-indent: 50px;
}

